<div class="container">
    <h1 class="title">Ca...errrrrr Burgers!</h1>
    <div class="two-handlebars">
        <div class="container-left">

            <h2>Ca...errrrrr Burgers that are not devourd!</h2>

            <ul class="left">
                {{#each burgers}}
                    {{#unless devour}}
                        {{> burgers/burger-block devour=true}}
                    {{/unless}}
                {{/each}}
            </ul>
        </div>

        <div class="container-right">
            <h2>Ca...errrrrr Burgers that are sleepy!</h2>

            <ul class="right">
                {{#each burgers}}
                    {{#if devour}}
                        {{> burgers/burger-block devour=false}}
                    {{/if}}
                {{/each}}
            </ul>
        </div>
    </div>
</div>
<h2 class="add">Add a Burger</h2>
<div class="search-bar">
    <form class="create-form">

        <div class="form-group">
            <input type="text" id="bur" name="name">
        </div>

        <button class="target" type="submit">Add Burger</button>
    </form>
</div>
