
body{
    background-color: rgb(75, 143, 117);
    margin: 0vw;
    padding: 0vw;
}
h2{
    text-align: center;
}
.image {
    display: block; 
    margin-left: auto;
    margin-right: auto }
.target{
    display: block; 
    margin-left: auto;
    margin-right: auto
}

.title{
    text-align: center;
}
li{
    padding: 0vw;
    margin: 0vw;
    display: flex;
    justify-content: center;
}



.two-handlebars{
    display: flex;
    justify-content: space-between;
}

.container-right{
    display: block;
    max-width: 14vw;
    margin-right: 40px;
   
}


.search-bar{
    display: flex;
    justify-content: center;
    width:100%;
    float:bottom
}
.add{
    width:100%;
    text-align: center;
}